@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



/* Estilos para la p치gina de Productos M치s Vendidos */
body {
    font-family: cooper,jumple, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee5e5;
}

header{
    font-family: cooper,jumple,sans-serif;
    background-image: url(../img/lo\ mas\ vendido.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 29px;
    height: 800px;
    background-color: #2233b4;
    text-align: center;
    margin-top: 20px;
    color: #184411;
}

.contenedor{
    font-family: cooper,jumple,sans-serif;
    color: #184411;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

h1{
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
    color: #184411;
    font-family: cooper,jumple,sans-serif;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #184411;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #184411;
    color: #ddd5d5;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor .contenedor-items .item .boton-item:hover{
   background-color: #dcbc74; 
}
/* seccion carrito */
.carrito{
    border: 1px solid #0a0a0a;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #184411;
    color: #dcbc74;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #184411;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 11px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 15px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #184411;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #184411;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #215a0b;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #184411;
    color: #dcbc74;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }
/*estilos para pantallas peque침as*/
@media(max-width: 767px){
    body{
        font-size: 14px;
    }

    .container{
        display: grid;
        grid-area: wrap;
        justify-content: center;
    }

    .product{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* estilos para pantallas medianas*/
@media(min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 16px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .product{
        width: auto;
    }
}

/*estilos para pantallas grandes*/
@media(min-width: 1024px){
    body{
        font-size: 18px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: center;
    }

    .product{
        width: auto;
    }
}
/*estilos para el pie de pagina*/
.container-pagina{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   }


main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
  }
  
  .icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
  }
  
  .icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
  }
  
  .icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
  }
  
  .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
  }
  
  .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
  }
  
  svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
  }
  
  .icon:hover circle {
    stroke-dasharray: 220;
  }
  
footer {
    font-family: cooper,jumple,sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #184411;
    color: #dcbc74;
}

.footer-row{
    display: flex;
    flex-direction: column;
  }
  
  .footer-links{
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
  }
  
  .footer-links h4 {
    font-size: 20px;
    color: #dcbc74;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #eef6f8;
   padding-bottom: 10px;
   display: inline-block;
  }

  .footer-links h4:hover{
    color: #edebe7;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer-links ul li {
    line-height: 2.2;
  }
  
  .footer-links ul li a {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    color: #dcbc74;
  }
  
  /* Estilos para pantallas m치s grandes */
  @media (min-width: 768px) {
    .container-pagina {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
  
    .footer-row {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .footer-links {
        width: 25%;
        padding: 0 20px;
    }
  }