/* Estilos para la página de Productos Más Vendidos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    padding: 90px;
    background-color: #2233b4;
    text-align: center;
    margin-top: 20px;
    color: #fcfcfc;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 3px 5px -6px rgba(10, 10, 10, 0.53);
    -moz-box-shadow: 10px 3px 5px -6px rgba(18, 19, 18, 0.53);
    box-shadow: 10px 3px 5px -6px rgba(0, 0, 0, 0.53);
}

.product:hover {
    opacity: 1;
    transition: opacity 1.5s;
    box-shadow: 0 0 5px rgba(12, 206, 190, 0.3);
  }

.product img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-weight: bold;
    margin: 10px 0;
    color: #050505;
}

.product-description {
    margin-bottom: 10px;
    color: #030303;
}

.product-price {
    font-size: 18px;
    color: #000000;
}

.product button{
    background-color: #0b3db3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product a {
    text-decoration: none;
    color: #fff;
}

.product button:hover {
    background-color: #ffac05;
}
/*estilos para pantallas pequeñas*/
@media(max-width: 767px){
    body{
        font-size: 14px;
    }

    .container{
        display: grid;
        grid-area: wrap;
        justify-content: center;
    }

    .product{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* estilos para pantallas medianas*/
@media(min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 16px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .product{
        width: auto;
    }
}

/*estilos para pantallas grandes*/
@media(min-width: 1024px){
    body{
        font-size: 18px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: center;
    }

    .product{
        width: auto;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2233b4;
    color: #fff;
}