/* Estilos para la página "Sobre nosotros" */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    margin-bottom: 40px;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
.redes-sociales {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
  }
  
  .icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
  }
  
  .icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
  }
  
  .icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
  }
  
  .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
  }
  
  .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
  }
  
  svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
  }
  
  .icon:hover circle {
    stroke-dasharray: 220;
  }
  

footer {
    text-align: center;
    padding: 20px;
    background-color: #2233b4;
    color: #fff;
}
