/* Estilos para la página de Registro de Clientes */
body {
  background-image: url(../img/OIG.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
    font-family: cooper,jumple,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #184411;
    color: #dcbc74;
}

/*header {
    background-color: #184411;
    color: #dcbc74;
    text-align: center;
    padding: 70px;
}*/

h1 {
    margin: 0;
    font-size: 24px;
}

h4{
  color: #dcbc74;
}

main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    background-color: #184411;
    color: #dcbc74;
    margin-bottom: 15px;
    border: 1px solid #184411;
    border-radius: 5px;
}

.registration-form button {
    background-color: #184411;
    color: #dcbc74;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #dcbc74;
    color: #184411;
}

/* Estilos para el pie de página */
.redes-sociales {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
  }
  
  .icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
  }
  
  .icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
  }
  
  .icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
  }
  
  .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
  }
  
  .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
  }
  
  svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
  }
  
  .icon:hover circle {
    stroke-dasharray: 220;
  }
  
footer {
    text-align: center;
    padding: 20px;
    background-color:#184411;
    color: #fff;
}

.footer-row{
  display: flex;
  flex-direction: column;
}

.footer-links{
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer-links h4 {
  font-size: 20px;
  color: #dcbc74;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
 padding-bottom: 10px;
 display: inline-block;
}

.footer-links ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-links ul li {
  line-height: 2.2;
}

.footer-links ul li a {
  color: #ecebea;
  text-decoration: none;
}

.footer-links ul li a:hover {
  color: #dcbc74;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .container-pagina {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
  }

  .footer-row {
      flex-direction: row;
      justify-content: space-between;
  }

  .footer-links {
      width: 25%;
      padding: 0 20px;
  }
}
