/* Estilos para la página de Registro de Clientes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #2233b4;
    color: #fff;
    text-align: center;
    padding: 70px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-form button {
    background-color: #2233b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #e35c00;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2233b4;
    color: #fff;
}
